html,
body {
    height: 100%;
}

#content-area {
    min-height: 95%;
}

#content-area .keditor-content-area {
    min-height: 100%;
}

#header,
#body,
#footer {
    padding: 30px;
    margin: 20px;
    border: 3px dashed #ccc;
}

.jumbotron1{
    /*background-image: url('/assets/keditor-master/CMS/snippets/default/img/inner-image2.jpg');*/
    text-align: center;
    padding: 50px 0px !important;
    /*opacity: 0.5;*/
}
.jumbotron1 ::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.jumbotron1 h1{
    color: #182f58;
}
.jumbotron1 p{
    color: #fff;
}
.jumbotron1 .btn-primary {
    color: #fff;
    background-color: #182f58;
    border-color: #182f58;
    padding: 5px 20px;
}
.jumbotron1 .btn-primary:hover {
    color: #182f58;
    background-color: #fff;
    border-color: #182f58;
}
