
.c-margin-t-5 {
    margin-top: 5px; }

.c-margin-t-8 {
    margin-top: 8px; }

.c-margin-t-10 {
    margin-top: 10px !important; }

.c-margin-t-15 {
    margin-top: 15px !important; }

.c-margin-t-20 {
    margin-top: 20px; }

.c-margin-t-25 {
    margin-top: 25px; }

.c-margin-t-30 {
    margin-top: 30px; }

.c-margin-t-40 {
    margin-top: 40px; }

.c-margin-t-50 {
    margin-top: 50px; }

.c-margin-t-60 {
    margin-top: 60px; }

.c-margin-t-80 {
    margin-top: 80px; }

.c-margin-b-5 {
    margin-bottom: 5px !important; }

.c-margin-b-10 {
    margin-bottom: 10px; }

.c-margin-b-15 {
    margin-bottom: 15px !important; }

.c-margin-b-20 {
    margin-bottom: 20px; }

.c-margin-b-25 {
    margin-bottom: 25px; }

.c-margin-b-30 {
    margin-bottom: 30px; }

.c-margin-b-40 {
    margin-bottom: 40px; }

.c-margin-b-50 {
    margin-bottom: 50px; }

.c-margin-b-60 {
    margin-bottom: 60px; }

.c-margin-b-80 {
    margin-bottom: 80px; }

.c-margin-b-100 {
    margin-bottom: 100px; }

.c-margin-r-40 {
    margin-right: 40px; }

.c-padding-10 {
    padding: 10px; }

.c-padding-20 {
    padding: 20px; }

.c-left,
.c-font-left {
    text-align: left; }

.c-center,
.c-font-center {
    text-align: center; }

.c-right,
.c-font-right {
    text-align: right; }

.c-font-thin {
    font-weight: 300 !important; }

.c-font-slim {
    font-weight: 400 !important; }

.c-font-sbold {
    font-weight: 500 !important; }

.c-font-bold {
    font-weight: 600 !important; }

.c-font-uppercase {
    text-transform: uppercase; }

.c-font-lowercase {
    text-transform: initial !important; }

.c-font-title {
    color: #3f444a !important; }

.c-font-subtitle {
    color: #5c6873 !important; }

.c-font-line-through {
    text-decoration: line-through; }

.c-font-10 {
    font-size: 10px; }

.c-font-11 {
    font-size: 11px; }

.c-font-12 {
    font-size: 12px; }

.c-font-13 {
    font-size: 13px; }

.c-font-14 {
    font-size: 14px; }

.c-font-15 {
    font-size: 15px; }

.c-font-16 {
    font-size: 16px; }

.c-font-17 {
    font-size: 17px; }

.c-font-18 {
    font-size: 18px; }

.c-font-19 {
    font-size: 19px; }

.c-font-20 {
    font-size: 20px; }

.c-font-21 {
    font-size: 21px; }

.c-font-22 {
    font-size: 22px; }

.c-font-23 {
    font-size: 23px; }

.c-font-24 {
    font-size: 24px; }

.c-font-25 {
    font-size: 25px; }

.c-font-26 {
    font-size: 26px; }

.c-font-27 {
    font-size: 27px; }

.c-font-28 {
    font-size: 28px; }

.c-font-29 {
    font-size: 29px; }

.c-font-30 {
    font-size: 30px; }

.c-font-31 {
    font-size: 31px; }

.c-font-32 {
    font-size: 32px; }

.c-font-33 {
    font-size: 33px; }

.c-font-34 {
    font-size: 34px; }

.c-font-35 {
    font-size: 35px; }

.c-font-36 {
    font-size: 36px; }

.c-font-37 {
    font-size: 37px; }

.c-font-38 {
    font-size: 38px; }

.c-font-39 {
    font-size: 39px; }

.c-font-40 {
    font-size: 40px; }

.c-font-41 {
    font-size: 41px; }

.c-font-42 {
    font-size: 42px; }

.c-font-43 {
    font-size: 43px; }

.c-font-44 {
    font-size: 44px; }

.c-font-45 {
    font-size: 45px; }

.c-font-46 {
    font-size: 46px; }

.c-font-47 {
    font-size: 47px; }

.c-font-48 {
    font-size: 48px; }

.c-font-49 {
    font-size: 49px; }

.c-font-50 {
    font-size: 50px; }

.c-font-51 {
    font-size: 51px; }

.c-font-52 {
    font-size: 52px; }

.c-font-53 {
    font-size: 53px; }

.c-font-54 {
    font-size: 54px; }

.c-font-55 {
    font-size: 55px; }

.c-font-56 {
    font-size: 56px; }

.c-font-57 {
    font-size: 57px; }

.c-font-58 {
    font-size: 58px; }

.c-font-59 {
    font-size: 59px; }

.c-font-60 {
    font-size: 60px; }

.c-font-61 {
    font-size: 61px; }

.c-font-62 {
    font-size: 62px; }

.c-font-63 {
    font-size: 63px; }

.c-font-64 {
    font-size: 64px; }

.c-font-65 {
    font-size: 65px; }

.c-font-66 {
    font-size: 66px; }

.c-font-67 {
    font-size: 67px; }

.c-font-68 {
    font-size: 68px; }

.c-font-69 {
    font-size: 69px; }

.c-font-70 {
    font-size: 70px; }

.c-font-71 {
    font-size: 71px; }

.c-font-72 {
    font-size: 72px; }

.c-font-73 {
    font-size: 73px; }

.c-font-74 {
    font-size: 74px; }

.c-font-75 {
    font-size: 75px; }

.c-font-76 {
    font-size: 76px; }

.c-font-77 {
    font-size: 77px; }

.c-font-78 {
    font-size: 78px; }

.c-font-79 {
    font-size: 79px; }

.c-font-80 {
    font-size: 80px; }

.c-font-81 {
    font-size: 81px; }

.c-font-82 {
    font-size: 82px; }

.c-font-83 {
    font-size: 83px; }

.c-font-84 {
    font-size: 84px; }

.c-font-85 {
    font-size: 85px; }

.c-font-86 {
    font-size: 86px; }

.c-font-87 {
    font-size: 87px; }

.c-font-88 {
    font-size: 88px; }

.c-font-89 {
    font-size: 89px; }

.c-font-90 {
    font-size: 90px; }

.c-line-height-10 {
    line-height: 10px; }

.c-line-height-11 {
    line-height: 11px; }

.c-line-height-12 {
    line-height: 12px; }

.c-line-height-13 {
    line-height: 13px; }

.c-line-height-14 {
    line-height: 14px; }

.c-line-height-15 {
    line-height: 15px; }

.c-line-height-16 {
    line-height: 16px; }

.c-line-height-17 {
    line-height: 17px; }

.c-line-height-18 {
    line-height: 18px; }

.c-line-height-19 {
    line-height: 19px; }

.c-line-height-20 {
    line-height: 20px; }

.c-line-height-21 {
    line-height: 21px; }

.c-line-height-22 {
    line-height: 22px; }

.c-line-height-23 {
    line-height: 23px; }

.c-line-height-24 {
    line-height: 24px; }

.c-line-height-25 {
    line-height: 25px; }

.c-line-height-26 {
    line-height: 26px; }

.c-line-height-27 {
    line-height: 27px; }

.c-line-height-28 {
    line-height: 28px; }

.c-line-height-29 {
    line-height: 29px; }

.c-line-height-30 {
    line-height: 30px; }

.c-line-height-31 {
    line-height: 31px; }

.c-line-height-32 {
    line-height: 32px; }

.c-line-height-33 {
    line-height: 33px; }

.c-line-height-34 {
    line-height: 34px; }

.c-line-height-35 {
    line-height: 35px; }

.c-line-height-36 {
    line-height: 36px; }

.c-line-height-37 {
    line-height: 37px; }

.c-line-height-38 {
    line-height: 38px; }

.c-line-height-39 {
    line-height: 39px; }

.c-line-height-40 {
    line-height: 40px; }


.c-layout-sidebar-menu {
    float: left;
    width: 270px;
    border-top: 0;
    margin: 30px 0 40px 0; }
.c-layout-sidebar-menu .c-sidebar-menu-toggler {
    display: none; }
.c-layout-sidebar-menu .c-sidebar-menu {
    height: auto;
    border: 1px solid #eaeef1;
    list-style: none;
    padding: 0 0; }
.c-layout-sidebar-menu .c-sidebar-menu.collapse {
    display: block; }
.c-layout-sidebar-menu .c-sidebar-menu > li {
    position: relative;
    padding: 0;
    margin: 0; }
.c-layout-sidebar-menu .c-sidebar-menu > li > a {
    display: block;
    color: #626a73;
    padding: 12px 30px 12px 25px;
    font-weight: 500; }
.c-layout-sidebar-menu .c-sidebar-menu > li.c-active > a {
    transition: all 0.2s;
    background-color: #f9fbfc; }
.c-layout-sidebar-menu .c-sidebar-menu > li:hover > a, .c-layout-sidebar-menu .c-sidebar-menu > li.c-open > a {
    transition: all 0.2s;
    background-color: #f9fbfc; }
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu {
    list-style: none;
    padding: 0;
    display: none;
    transition: all 0.3s; 
}
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu li {
    padding: 0;
    margin: 0; 
}
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu li > a {
    display: block;
    padding: 10px 20px 10px 30px;
    color: #3f444a; 
}
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu li > a > i {
    font-size: 14px;
    margin-right: 5px;
    margin-top: 1px;
    opacity: 0.6;
    filter: alpha(opacity=60); 
}
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu li:last-child > a {
    border-top: 0; 
}
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu li > .c-dropdown-menu > li > a {
    padding-left: 60px; 
}
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu li > .c-dropdown-menu > li > .c-dropdown-menu > li > a {
    padding-left: 80px; 
}
.c-layout-sidebar-menu .c-sidebar-menu li .c-dropdown-menu li > .c-dropdown-menu > li > .c-dropdown-menu > li > .c-dropdown-menu > li > a {
    padding-left: 100px; }
.c-layout-sidebar-menu .c-sidebar-menu li.c-dropdown {
    position: relative; }
.c-layout-sidebar-menu .c-sidebar-menu li.c-dropdown > a .c-arrow {
    transition: all 0.2s;
    font-family: fontawesome;
    position: absolute;
    right: 10px;
    display: inline-block;
    font-weight: 300;
    margin-top: -1px;
    color: #a7adb3;
    width: 30px;
    text-align: center; }
.c-layout-sidebar-menu .c-sidebar-menu li.c-dropdown > a .c-arrow:before {
    content: "\f105"; }
.c-layout-sidebar-menu .c-sidebar-menu li.c-dropdown.c-expanded > a .c-arrow:before, .c-layout-sidebar-menu .c-sidebar-menu li.c-dropdown.c-open > a .c-arrow:before {
    content: "\f107"; }
.c-layout-sidebar-menu .c-sidebar-menu li.c-dropdown.c-expanded > .c-dropdown-menu, .c-layout-sidebar-menu .c-sidebar-menu li.c-dropdown.c-open > .c-dropdown-menu {
    display: block;
    transition: all 0.3s; }
.c-layout-sidebar-menu .c-sidebar-menu li:last-child > a {
    border-top: 0; }
.c-layout-sidebar-menu .c-sidebar-menu.c-option-2 {
    background-color: #f8f9fa;
    border: 0; }
.c-layout-sidebar-menu .c-sidebar-menu.c-option-2 > li:hover > a, .c-layout-sidebar-menu .c-sidebar-menu.c-option-2 > li.c-open > a {
    transition: all 0.2s;
    background-color: #eff1f4; }

.c-layout-sidebar-content {
    overflow: hidden;
    padding: 30px 0 30px 30px; }

.c-layout-sidebar-menu.c-align-right {
    float: right; }

.c-layout-sidebar-content.c-align-left {
    padding: 30px 40px 30px 0; }

@media (max-width: 991px) {
    /* 991px */
    .c-layout-sidebar-menu {
        width: 100%;
        float: none;
        display: block;
        margin: 0; }
    .c-layout-sidebar-menu .c-sidebar-menu-toggler {
        display: block;
        margin: 30px 0 20px 0; }
    .c-layout-sidebar-menu .c-sidebar-menu-toggler .c-title {
        display: inline-block;
        font-size: 18px;
        margin: 8px 0 5px 0;
        color: #3f444a; }
    .c-layout-sidebar-menu .c-sidebar-menu-toggler .c-content-toggler {
        float: right;
        clear: both; }
    .c-layout-sidebar-menu .c-sidebar-menu {
        margin-top: 10px; }
    .c-layout-sidebar-menu .c-sidebar-menu.collapse {
        display: none; }
    .c-layout-sidebar-menu .c-sidebar-menu.collapse.in {
        display: block; }
    .c-layout-sidebar-content {
        overflow: visible;
        padding: 10px 0 30px 0; } 
}


.c-layout-sidebar-menu.c-theme .c-sidebar-menu li.c-active > a {
    transition: all 0.2s;
    color: #32c5d2; 
}
.c-layout-sidebar-menu.c-theme .c-sidebar-menu li.c-active > a > .c-arrow {
    color: #32c5d2; 
}

.c-layout-sidebar-menu.c-theme .c-sidebar-menu li .c-dropdown-menu > li:hover > a {
    color: #32c5d2; 
}

.c-layout-sidebar-menu.c-theme .c-sidebar-menu.c-option-2 > li.c-active > a {
    transition: all 0.2s;
    color: #ffffff;
    background-color: #32c5d2; 
}
.c-layout-sidebar-menu.c-theme .c-sidebar-menu.c-option-2 > li.c-active > a > .c-arrow {
    color: #ffffff; 
}


.c-shop-order-complete-1 {
  padding: 0;
  margin: 0; }
  .c-shop-order-complete-1 .c-message {
    padding: 30px 10px; }
  .c-shop-order-complete-1 .c-order-summary {
    padding: 0 20%; }
  .c-shop-order-complete-1 .c-row-item {
    padding: 30px 0; }
  .c-shop-order-complete-1 .c-row-total {
    margin-right: 30px; }
  .c-shop-order-complete-1 .c-list li + li {
    margin-top: 10px; }
  .c-shop-order-complete-1 .c-list-inline li + li {
    margin-left: 20px; }

@media (max-width: 991px) {
  /* 991px */
  .c-shop-order-complete-1 .c-order-summary {
    padding: 0;
    margin: 0; }
  .c-shop-order-complete-1 .c-image {
    padding-bottom: 30px; } }

@media (max-width: 767px) {
  /* 767px */ }

a.c-theme-color{
    color:#aaa;
}

body, p{
    font-size: 12pt !important;
    color: #000;
}


/* product slider css start */

.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.controls a{
    padding: 10px;
}

/* product slider css end */

/* product details page start */

.course-details .custom-input input, .custom-input textarea, .custom-input select{
    width: 80%;
    margin-top: 05px;
    color: #4A4A4A;
}

.organization-info ul li{
    color: #818181;
}
/* product details page end */