/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.d-flex .search-container {
        float: none;
    }
    .d-flex a, .d-flex input[type=text], .d-flex .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .d-flex input[type=text] {
        border: 1px solid #ccc;  
    }
    .container {
		width:480px;
	}
	.percent-66,
	.percent-33,
	.percent-25{
		width: 50%;
	}
	.slider-caption h2.hidden-xs {
	  display: block!important;
	}
	#mainslider-2 .slider-caption h1 {
	  font-size: 24px;
	}
	.tec-box.percent-33 {
	  width: 100%;
	}
	.tec-box {
	  height: 190px;
	}
	.course-box .rating {
	  line-height: inherit;
	  padding-bottom: 0;
	}
	#timer > div {
	  margin-right: 15px;
	}
	.gallery-menu li {
	  padding: 0 8px;
	}
	.clients-one li:last-child {
	  text-align: center;
	}
	.footer-widget.gallery li a {
	  display: inline-block;
	}
	.footer-widget.gallery li {
	  width: 20%;
	}
}