/* Extra large devices (large laptops and desktops, 1200px and up) */
/*=================================================================*/
@media (min-width: 1200px) and (max-width: 1500px) {
.container {
        width: 1200px;
    }
.sidebar {
        padding: 0 30px 0 20px;
    }
    .event-details .sidebar {
        padding: 0 0 0 50px;
    }
    .pl-40.sidebar{
        padding: 0 0 0 40px;
    }
    .pl-50.sidebar {
        padding: 0 0 0 50px;
    }
    .mr-minus-30{
        margin-right: -30px;
    }

    .ml-minus-15{
        margin-left: -15px;
    }
    .ml-minus-30{
        margin-left: -30px;
    }
    .mr-minus-10{
        margin-right: -10px;
    }
    .slick-boxed.pr-37 {
        padding-right: 37px;
    }

    .profile-info .custom-input input,
    .profile-info .custom-input textarea {
        margin-bottom: 10px;
    }
    .custom-input .pl-5{
        padding-left: 5px;
    }
    .custom-input .pr-5{
        padding-right: 5px;
    }
    .contact-area form{
        width: 400px;
    }
    .contact-area .contact-info >ul li:first-child {
        float: left;
        width: 200px;
    }
    .login-area .custom-input {
        padding-right: 25px;
    }
    .login-area .enter-box {
        padding: 82px 145px 85px 85px;
    }    
	
}