/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 767px),
(min-width: 768px) and (max-width: 991px) {

				.percent-20,
				.percent-25,
				.percent-33,
				.percent-50,
				.percent-66 {
								width: 100%;
				}

				.main-header .c-cart-menu {
								width: 100%;
				}

				.top-bar ul li {
								margin-right: 11px;
								padding-right: 11px;
				}

				p > br {
								display: none;
				}

				.section-padding {
								padding: 80px 0;
				}

				.section-pt {
								padding-top: 80px;
				}

				.section-pb {
								padding-bottom: 80px;
				}

				.mb-40 {
								margin-bottom: 20px;
				}

				.mb-50 {
								margin-bottom: 30px;
				}

				.mb-60 {
								margin-bottom: 40px;
				}

				.mb-75,
				.mb-70 {
								margin-bottom: 50px;
				}

				.pt-60,
				.pt-70,
				.pt-80,
				.pt-85 {
								padding-top: 40px;
				}


				.ptb-150 {
								padding-top: 110px;
								padding-bottom: 110px;
				}

				.ptb-60 {
								padding-top: 30px;
								padding-bottom: 30px;
				}

				.ptb-100,
				.ptb-110,
				.ptb-85 {
								padding-top: 80px;
								padding-bottom: 80px;
				}

				.pr-70 {
								padding-right: 0px;
				}

				.plr-20 {
								padding-left: 0px;
								padding-right: 0px;
				}

				.plr-35 {
								padding-left: 15px;
								padding-right: 15px;
				}

				.plr-40 {
								padding-left: 10px;
								padding-right: 10px;
				}

				.font-30 {
								font-size: 25px
				}

				h1,
				.font-70,
				.font-50,
				.font-35,
				.font-42,
				.font-90,
				.font-40 {
								font-size: 30px
				}

				.navgation-bar.is-sticky .logo,
				.navgation-bar .logo {
								width: 150px;
				}

				.navgation-bar.is-sticky {
								line-height: 70px;
				}

				.navgation-bar .d-flex {
								position: relative;
				}

				/*.navgation-bar .navbar-toggle {
        margin-right: 30px;
    }*/
				.mainmenu {
								width: 42% !important;
				}


				.navgation-bar .d-flex {
								display: block;
				}

				.navgation-bar {
								line-height: 70px;
				}

				.navgation-bar .logo {
								float: left;
								position: relative;
								z-index: 2;
				}

				.navbar-header {
								position: relative;
								top: 20px;
				}

				.navbar-toggle,
				.navbar-nav {
								margin: 0;
				}

				.mainmenu li {
								float: none;
								margin: 0;
				}

				.mainmenu li a {
								line-height: 40px;
								padding: 0 10px;
				}

				.navbar-collapse {
								width: 100%;
								border-color: #ececec;
								overflow-x: hidden;
				}

				.navbar-nav .open .dropdown-menu>li>a {
								line-height: 28px;
				}

				/* Sub Menu */
				.navbar-nav {
								height: 300px;
				}

				.mainmenu li.dropdown-submenu a i {
								right: 15px;
								-webkit-transform: rotate(90deg);
								-ms-transform: rotate(90deg);
								transform: rotate(90deg);
				}

				.navbar-nav .dropdown-submenu .dropdown-menu {
								background-color: #eeeeee;
				}

				.dropdown-submenu>ul {
								opacity: 1;
								visibility: visible;
								-webkit-transition: all 0s ease 0s;
								-o-transition: all 0s ease 0s;
								transition: all 0s ease 0s;
				}

				.dropdown-menu li.dropdown-submenu:hover>ul li a {
								padding-left: 25px;
				}

				.search-toggle i {
								margin-left: 0;
				}

				.search-toggle {
								position: absolute;
								right: 0;
								text-align: center;
								top: 0;
								width: 25px;
				}

				.courses-searching form {
								width: 95%;
				}

				.courses-searching button {
								top: 10px;
				}

				.slider-area:hover .swiper-prev,
				.slider-area:hover .slick-arrow.prev {
								left: 0;
				}

				.slider-area:hover .swiper-next,
				.slider-area:hover .slick-arrow.next {
								right: 0;
				}

				.swiper-arrow,
				.slick-arrow {
								margin-top: 0px;
				}

				#mainslider-2 .slider-caption {
								margin-top: -50px;
				}

				.breadcrumbs-title.blank-space {
								padding-top: 0px;
				}

				.breadcrumbs-title .ptb-150 {
								padding-bottom: 50px;
								padding-top: 50px;
				}

				.gallery-menu ul {
								margin-bottom: -15px;
				}

				.gallery-menu li {
								margin-bottom: 15px;
				}

				.c-layout-breadcrumbs-1 .c-page-title {
								display: block;
								float: left;
								text-align: left;
				}

				.c-layout-breadcrumbs-1 .c-page-title:before,
				.c-layout-breadcrumbs-1 .c-page-title:after {
								content: " ";
								display: table;
				}

				.c-layout-breadcrumbs-1 .c-page-title:after {
								clear: both;
				}

				.c-layout-breadcrumbs-1 .c-page-breadcrumbs {
								display: block;
				}

				.c-shop-cart-page-1>.c-cart-table-row>.c-cart-image>img {
								width: 100%;
				}

				.c-shop-cart-page-1>.c-cart-table-row>.c-cart-ref,
				.c-shop-cart-page-1>.c-cart-table-row>.c-cart-price,
				.c-shop-cart-page-1>.c-cart-table-row>.c-cart-remove {
								clear: both;
				}

				.pb-100,
				.pb-120 {
								padding-bottom: 80px;
				}

				.pb-80 {
								padding-bottom: 50px;
				}

				.column-1 .blog-content {
								padding: 30px 15px;
				}

				.column-1.blog-style2 .rt-inner {
								padding: 30px 15px;
				}

				.column-1.blog-style2 .footer {
								padding: 0 15px;
				}

				/* Blog details */
				.blog-details .blog-content {
								padding: 30px 0;
				}

				.blog-details .date-box>h4 {
								float: none !important;
				}

				.blog-details .blog-post .name-comment {
								padding-left: 0;
								padding-top: 10px;
				}

				.blog-details .name-comment h2 {
								font-size: 24px;
				}

				.blog-details .name-comment h5.pl-45 {
								padding-left: 25px;
				}

				.author-box {
								padding: 30px 20px;
				}

				.comment-list li {
								padding: 30px 15px;
				}

				/* Courses Page */
				.courses-bar .section-title {
								margin-bottom: 30px;
				}

				.search-course,
				.search-course input,
				.sort-courses select {
								width: 100%;
				}

				.search-course button.btn {
								float: left;
								margin-top: 15px;
				}

				.courses-bar>.pull-left,
				.courses-bar>.pull-right {
								float: none !important;
				}

				.sort-courses.mlr-40 {
								margin: 15px 0;
				}

				.list-view .thumb.pull-left {
								float: none !important;
				}

				.list-view .course-content {
								padding: 14px 0 0 0px;
				}

				.list-view.course-box .footer {
								line-height: 50px;
				}

				.list-view.course-box .footer img {
								margin-top: 8px;
				}

				.single-course .title {
								padding: 20px 0;
				}

				.this-info li:nth-child(2) {
								border: 0;
								padding-bottom: 10px;
								padding-top: 10px;
				}

				.this-info li:last-child {
								padding-top: 10px;
				}

				.curr-section li {
								padding: 5px 10px;
				}

				.single-course .curr-section ul li p {
								line-height: 20px;
				}

				.curr-section li a {
								margin-top: 0;
				}

				.profile-info .social-icon {
								margin: -3px 0 40px;
				}


				.plr-25 {
								padding-left: 15px;
								padding-right: 15px;
				}

				.tab-mb-50 {
								margin-bottom: 50px;
				}

				.dropdown>li>.dropdown-menu {
								left: 0;
								margin-left: -60px;
				}

				.navgation-bar.is-sticky .logo,
				.navgation-bar .logo {
								width: 150px;
				}

				.service-box-area .container {
								margin-top: -20px;
				}

				.slider-caption h1 {
								font-size: 40px;
				}

				.slider-caption {
								margin-top: -37px;
				}

				.swiper-slide-active .delay-4 {
								transition-delay: 2s;
				}

				.tec-box {
								padding: 0 15px;
				}

				.course-box .rating {
								line-height: 1;
								padding-bottom: 10px;
				}

				#timer>div {
								margin-bottom: 10px;
				}

				.countdown-text.pt-80 {
								padding-top: 10px;
				}

				.event-box .thumb {
								float: none !important;
				}

				.event-box.d-flex {
								display: inherit;
				}

				.event-box .thumb img {
								width: 100%;
				}

				.event-box .event-content {
								padding: 30px;
				}

				.testimonial-area .slide-item {
								padding: 6px 15px;
				}

				.plr-35 {
								padding-left: 15px;
								padding-right: 15px;
				}

				/* Home Two */
				.navgation-bar {
								line-height: 80px;
				}

				#mainslider-2 .slider-caption {
								margin-top: -40px;
				}

				.contact-area .section-title p br,
				.rt-features>p br {
								display: none;
				}

				.widget-box.plr-20 {
								padding: 0;
				}

				.widget-box .rt-member {
								padding: 40px 10px;
				}

				.blog-style2 .footer h5 {
								font-size: 10px;
				}

				.cta-one .cta-content {
								padding: 40px 30px;
				}

				/* Pages */
				.breadcrumbs-title.blank-space {
								padding-top: 80px;
				}

				.breadcrumbs-title .ptb-150 {
								padding-bottom: 80px;
								padding-top: 80px;
				}

				.list-view .thumb {
								display: inline-block;
				}

				#grid-view .course-box .rating,
				.list-view.course-box .rating {
								line-height: inherit;
								padding-bottom: 0;
				}

				.sidebar .pr-70 {
								padding-right: 0;
				}

				.average-review {
								margin-bottom: 30px;
				}

				.rt-line-arrow {
								width: 75%;
								left: 63%;
				}

				.profile-area .skill-progress,
				.promo-three .skill-progress {
								width: 100%;
				}

				.promo-text.pt-20 {
								padding-top: 0;
				}

				.promo-text .mb-45 {
								margin-bottom: 25px;
				}

				.clients-one li {
								padding: 0 20px !important;
								text-align: center !important;
				}

				.height-530 .google-map {
								height: 400px;
				}

				.enter-box {
								padding: 50px 30px;
				}

				.c-layout-breadcrumbs-1 {
        padding: 10px 0; }
    .c-layout-breadcrumbs-1 .c-page-title > h3 {
        margin: 6px 15px 6px 0; }
    .c-layout-breadcrumbs-1 .c-page-breadcrumbs {
        clear: both;
        float: left !important;
        text-align: left;
        clear: both; }
    .c-layout-breadcrumbs-1 .c-page-breadcrumbs > li {
        padding: 6px 4px 6px 4px; }
    .c-layout-breadcrumbs-1 .c-page-breadcrumbs > li:first-child {
        padding-left: 0; }
    .c-layout-breadcrumbs-1.c-bgimage-full {
        padding: 40px 0; }
    .c-layout-header-fullscreen .c-layout-breadcrumbs-1.c-bgimage-full {
        padding-top: 105px; }
    .c-layout-breadcrumbs-1.c-bgimage-full .c-breadcrumbs-wrapper {
        background: rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        margin-bottom: 10px; }
    .c-layout-breadcrumbs-1.c-bgimage-full .c-page-breadcrumbs {
        margin-top: 10px; } 

	.c-shop-cart-page-1 .c-cart-table-title,
    .c-shop-cart-page-1 .c-cart-remove-desktop {
        display: none; }
    .c-shop-cart-page-1 .c-cart-sub-title,
    .c-shop-cart-page-1 .c-cart-remove-mobile {
        display: block; }
    .c-shop-cart-page-1 > .c-cart-table-row {
        box-shadow: 0px 4px 4px -4px #ccc;
        border: none; }
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-item-title {
        margin-top: 10px;
        display: block; }
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-item-title.c-cart-item-first {
        margin-top: 0; }
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-ref,
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-qty,
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-price,
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-total {
        margin: 20px 0; }
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-remove {
        text-align: center;
        margin: 20px 0; }
    .c-shop-cart-page-1 > .c-cart-table-row > .c-cart-remove > .c-cart-remove-mobile {
        display: inline-block; } 

    .c-shop-order-complete-1 .c-order-summary {
        padding: 0;
        margin: 0; }
    .c-shop-order-complete-1 .c-image {
        padding-bottom: 30px; }     

    .container{
		width:300px;
	}
	.mobi-mb-30{
		margin-bottom: 30px;
	}
	.mobi-mb-50{
		margin-bottom: 50px;
	}
	
	.top-bar {
	  padding: 10px 0;
	}
	.top-bar .d-flex {
	  display: block;
	  text-align: center;
	}
	.top-bar ul li {
	  line-height: 30px;
	}
	.top-bar .left ul li {
	  float: none;
	}
	.top-bar .left ul li:first-child {
	  margin-right: 0;
	  padding-right: 0;
	}
	.top-bar .left ul li:first-child::after {
	  display: none;
	}
	.top-bar {
	  margin-bottom: 70px;
	}
	.navgation-bar {
	  top: 113px;
	}
	
	/* Slider */
	.slider-caption {
	  margin-top: -59px;
	}
	.slider-caption h1 {
	  font-size: 25px;
	}
	.slider-caption .btn {
	  line-height: 40px;
	  padding: 0 30px;
	}
	.slider-area i.slick-arrow {
	  display: none!important;
	}
	.slider-area .single-item img{
		max-width: 120%;
	}
	#mainslider-2 .slider-caption h1 {
	  font-size: 22px;
	}
	
	.service-box-area .container {
	  margin-top: 80px;
	}
	.tec-box {
	  padding: 0 15px;
	}
	.course-box .rating {
	  line-height: 1;
	  padding-bottom: 10px;
	}
	#timer > div {
	  margin-bottom: 15px;
	}
	.thumb img,
	.subscribe,
	.signup-form {
	  width: 100%;
	}
	.event-box.d-flex {
	  display: inherit;
	}
	.event-box .thumb {
	  float: none !important;
	}
	.event-box .event-content {
	  padding: 15px;
	}
	.event-content .align-container {
	  justify-content: unset;
	}
	.testimonial-area .slide-item {
	  padding: 15px;
	}
	.say-box p {
	  padding: 0 10px;
	}
	.subscribe button.btn {
	  width: 110px;
	}
	
	.copyright .text-right,
	.copyright .left {
	  text-align: center;
	}
	.copyright p,
	.copyright .social-icon li a {
	  line-height: 40px;
	}
	/* Home Two*/
	.rt-features > img {
	  margin-bottom: 20px;
	}
	.widget-box .rt-member {
	  padding: 30px 10px;
	}
	.blog-style2 .footer h5 {
	  font-size: 12px;
	}
	.cta-one .cta-content {
	  padding: 30px;
	}
	/* Pages */
	.comment-list .text {
	  overflow: inherit;
	}
	.single-course .nav-tabs > li {
	  width: 50%;
	}
	.average-review,
	.profile-area .skill-progress,
	.promo-three .skill-progress,
	.detailed-review {
	  width: 100%;
	}
	.progress {
	  width: 185px;
	}
	.reviews .custom-input input {
	  margin-bottom: 15px;
	}
	.event-countdown #timer > div {
	  margin-bottom: 0;
	}
	.event-countdown #timer > div h6 {
	  font-size: 13px;
	}
	.rt-line-arrow {
	  display: none;
	}
	.clients-one li {
	  width: 50%;
	  padding: 10px!important;
	  height: 125px;
	  text-align: center;
	}
	.clients-area.pt-20 {
	  padding-top: 0;
	}
	.height-530 .google-map{
		height: 350px;
	}
	.enter-box {
	  padding: 30px 15px;
	}           

}