/* Large devices (laptops/desktops, 992px and up) */
/*================================================*/
@media (min-width: 992px) and (max-width: 1200px) {
	.dropdown > li > .dropdown-menu{
	  left: 0;
	  margin-left: -60px;
	}
	.slider-caption h1 {
	  margin-bottom: 0;
	}
	.slider-caption {
	  margin-top: -115px;
	}
	#timer > div {
	  margin-right: 15px;
	}
	.event-box .event-content {
	  padding: 10px 15px;
	}
	.rt-features > p br,
	.event-content p br {
	  display: none;
	}
	.testimonial-area .slide-item {
	  padding: 6px 15px;
	}
	.course-box .footer h5 {
	  font-size: 12px;
	}
	.widget-box.plr-20 {
	  padding: 0;
	}
	.plr-35 {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	.column-1 .blog-content {
	  padding: 45px 30px;
	}
	.blog-details .blog-content {
	  padding: 40px 0;
	}
	.blog-details .name-comment h2 {
	  font-size: 25px;
	}
	
	.courses-bar .section-title h2{
		font-size: 25px;
	}
	.search-course {
	  width: 377px;
	}
	.search-course button.btn {
	  padding: 0 30px;
	}
	.sort-courses.mlr-40 {
	  margin: 0 10px;
	}
	.course-box .footer h5 {
	  font-size: 10px;
	}
	#grid-view .course-box .footer h5 {
	  font-size: 10px;
	}
	.this-info li:first-child {
	  width: 190px;
	}
	.this-info li {
	  padding: 0 15px;
	}
	.this-info li .btn {
	  padding: 0 35px;
	}
	.sidebar .pr-70 {
	  padding-right: 0;
	}
	.rt-line-arrow {
	  width: 75%;
	  left: 63%;
	}
	.promo-text.pt-20 {
	  padding-top: 0;
	}
	.profile-info .social-icon {
	  margin: -3px 0 40px;
	}
	.profile-area .skill-progress{
	  width: 100%;
	}
	.enter-box {
	  padding: 60px 40px;
	}

}