/* Small devices (portrait tablets and large phones, 600px and up) */
/*=================================================================*/
@media (min-width: 600px) and (max-width: 767px) {
	.container{
		width:300px;
	}
	.mobi-mb-30{
		margin-bottom: 30px;
	}
	.mobi-mb-50{
		margin-bottom: 50px;
	}
	
	.top-bar {
	  padding: 10px 0;
	}
	.top-bar .d-flex {
	  display: block;
	  text-align: center;
	}
	.top-bar ul li {
	  line-height: 30px;
	}
	.top-bar .left ul li {
	  float: none;
	}
	.top-bar .left ul li:first-child {
	  margin-right: 0;
	  padding-right: 0;
	}
	.top-bar .left ul li:first-child::after {
	  display: none;
	}
	.top-bar {
	  margin-bottom: 70px;
	}
	.navgation-bar {
	  top: 113px;
	}
	
	/* Slider */
	.slider-caption {
	  margin-top: -59px;
	}
	.slider-caption h1 {
	  font-size: 25px;
	}
	.slider-caption .btn {
	  line-height: 40px;
	  padding: 0 30px;
	}
	.slider-area i.slick-arrow {
	  display: none!important;
	}
	.slider-area .single-item img{
		max-width: 120%;
	}
	#mainslider-2 .slider-caption h1 {
	  font-size: 22px;
	}
	
	.service-box-area .container {
	  margin-top: 80px;
	}
	.tec-box {
	  padding: 0 15px;
	}
	.course-box .rating {
	  line-height: 1;
	  padding-bottom: 10px;
	}
	#timer > div {
	  margin-bottom: 15px;
	}
	.thumb img,
	.subscribe,
	.signup-form {
	  width: 100%;
	}
	.event-box.d-flex {
	  display: inherit;
	}
	.event-box .thumb {
	  float: none !important;
	}
	.event-box .event-content {
	  padding: 15px;
	}
	.event-content .align-container {
	  justify-content: unset;
	}
	.testimonial-area .slide-item {
	  padding: 15px;
	}
	.say-box p {
	  padding: 0 10px;
	}
	.subscribe button.btn {
	  width: 110px;
	}
	
	.copyright .text-right,
	.copyright .left {
	  text-align: center;
	}
	.copyright p,
	.copyright .social-icon li a {
	  line-height: 40px;
	}
	/* Home Two*/
	.rt-features > img {
	  margin-bottom: 20px;
	}
	.widget-box .rt-member {
	  padding: 30px 10px;
	}
	.blog-style2 .footer h5 {
	  font-size: 12px;
	}
	.cta-one .cta-content {
	  padding: 30px;
	}
	/* Pages */
	.comment-list .text {
	  overflow: inherit;
	}
	.single-course .nav-tabs > li {
	  width: 50%;
	}
	.average-review,
	.profile-area .skill-progress,
	.promo-three .skill-progress,
	.detailed-review {
	  width: 100%;
	}
	.progress {
	  width: 185px;
	}
	.reviews .custom-input input {
	  margin-bottom: 15px;
	}
	.event-countdown #timer > div {
	  margin-bottom: 0;
	}
	.event-countdown #timer > div h6 {
	  font-size: 13px;
	}
	.rt-line-arrow {
	  display: none;
	}
	.clients-one li {
	  width: 50%;
	  padding: 10px!important;
	  height: 125px;
	  text-align: center;
	}
	.clients-area.pt-20 {
	  padding-top: 0;
	}
	.height-530 .google-map{
		height: 350px;
	}
	.enter-box {
	  padding: 30px 15px;
	}
}
