.mar_t45{
    margin-top: 45px;
}
.control-label {
    font-weight: bold !important;
    color: #333333;
}
.page-boxed .page-footer .page-footer-inner, .page-footer .page-footer-inner, .page-footer-fixed .page-footer .page-footer-inner {
    color: #fff;
    text-align: center;
}
.input-group[class*=col-] {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
}
.form-horizontal .form-group .mt-checkbox-list, .form-horizontal .form-group .mt-radio-list {
    padding-top: 10px 15px !important;
}
.btn.green:not(.btn-outline) {
    background-color: #F47138;
    border-color: #F47138;
}
.btn.btn-outline.green {
    border-color: #F47138;
    color: #003182;
}
.btn.green.active:not(.btn-outline), .btn.green:active:not(.btn-outline), .btn.green:hover:not(.btn-outline), .open > .btn.green.dropdown-toggle:not(.btn-outline) {
    background-color: #F47138;
    border-color: #F47138;
    color: #fff;
}
.mar_b0{
    margin-bottom: 0px;
}
.mar_b10{
    margin-bottom: 10px;
}
.mar_l10{
    margin-left: 10px;
}
.mar_l20{
    margin-left: 20px;
}
.mar_l30{
    margin-left: 30px;
}
.mar_l40{
    margin-left: 40px;
}
.mar_t10{
    margin-top: 10px;
}
.mar_t20{
    margin-top: 20px;
}
.mar_r20{
    margin-right: 20px;
}
.mar_r10{
    margin-right: 10px;
}
.mar_r7{
    margin-right: 7px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #003182;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid rgba(0, 80, 136, 0.5);
}

.tdpadding{
    padding: 8px 10px !important;
}

.btn-default {
    color: #a4a4a4;
}

#random,#custom{
    display:none;
}
#random:target{
    display:block;
}

#custom:target{
    display:block;
}

/*.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {

    width: 15em !important;
}*/
.ms-container{
    width: 714px!important;
}
.ms-container .ms-list{
    height: 450px!important;
}
.nav.pull-right > li > .dropdown-menu::after, .nav > li > .dropdown-menu.pull-right::after
{
    left:263px!important;
}
.glyphicon {

    font-size: 16px;
    margin-right: 5px;
}
.saletp
{
    font-size: 16px;
    margin-right: 5px;
}
.fafont{
    font-size: 20px!important;
    line-height: 25px!important;
}
.pad-right-10
{
    padding-right: 10px;
}
.mar-right-10
{
    margin-right: 10px;
}
.curpoint{
    cursor: pointer;
}
.pad_b35{
    padding-bottom: 35px;
}
.font_100{
    font-size: 100px;
}
#accordion1 li.panel{
    margin-bottom: 0px !important;
}
.table-responsive ul {
    padding: 0px !important;
}
.table-responsive ul li{
    list-style: none;
}
.table-responsive ul li a{
    text-decoration: none;
    cursor: pointer;
}
.table-responsive ul li ul li{
    list-style: none;
    margin: 3px;
    padding-left:20px !important;
}
.panel {
    margin-bottom: 0px !important;
}
.push-left{
    float: left;
}
.push-right{
    float: right;
}
.clearfix{
    font-size: 1px;
    clear: both;
}
.disable{
    pointer-events: none;
}
span.form-control-static ul{
    padding: 0px !important;
    list-style: none;
}
span.form-control-static ul li ul li{
    padding: 0px !important;
    list-style: none;
    padding-left:30px !important;
    margin: 3px;
}
span.form-control-static ul li a{
    text-decoration: none;
    cursor: pointer;
}
/* css change according to requirement by -- design team 23-01-18 */
.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    padding-right: 12px !important;
    position: relative !important;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
    position: absolute; right: 4px; margin-top:0px !important; margin-right:0px !important
}
.cur-pointer{
    cursor: pointer;
}
.font20{
    font-size: 20px;
}
/*//////////////////////// change from developer desk 29-01-18 ///////////////////*/
.col-md-8.input-daterange{
    width: 66% !important;
}
.input-daterange .input-group .form-control {
    max-width: 150px !important;
}
/*.input-daterange .input-group-addon{
    float: left;
    height: 34px;
    padding: 5px;
    margin: 0px;
}*/
.input-daterange .icon-info{
    line-height: 2 !important;
    margin-left: 3px;
}
#frmconfiglayout ul li.active a{
    background-color: #f47138;
    color: #FFFFFF;
}
#frmconfiglayout ul li a:hover{
    background-color: #f47138;
    color: #FFFFFF;
}
.mar5{
    margin: 5px 0 !important;
}
.box{
    border: 1px solid #003182;
    position: relative;
}
.box .box-body .add-to-menu{position: absolute; bottom:10px; right:10px;}

.portlet.blue, .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
    background-color: #003182;
}
.pfont12{
    font-size: 12px;
}
.layout-btn{
    border: 1px solid #CCCCCC !important;
    margin-right: 1px !important;
}
.layout-btn.active{
    background-color: #337AB7!important;
    color: #FFFFFF!important;
}
.tbox250{
    width: 250px!important;
}
.topbar-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.header-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
#frmconfiglayout .tabs-left{
    min-height: 623px !important;
}
#frmconfiglayout li.active > a::after {
    content: " " !important;
}
#frmconfiglayout li span.selected{
    right: -1px!important;
}
.leftright{
    width: 22%!important;
}
.brandpage-layout-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.brandpage-header-title-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.brandpage-boxstyle-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.brandpage-liststyle-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.categorypage-layout-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.categorypage-header-title-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.categorypage-boxstyle-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.categorypage-liststyle-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.product-liststyle-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.product-boxstyle-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.product-layout-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.product-header-title-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.product-gallery-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.regl-header-title-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.contentcms-layout-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.cmspage-header-title-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.blog-layout-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.blog-header-title-option img.active{
    border: 1px solid #C2CAD8;
    opacity: 1;
    box-shadow: 0 0 10px 0 #337AB7;
}
.page-head{
    display: none;
}
.page-breadcrumb{
    display: none;
}
#header_notification_bar{display: none!important;}

.form-group.col-md-4 .col-md-6 .bootstrap-switch {margin-left:5px;}

#div_show_date,#div_date_time_base .help-block {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    margin-left: 17px;
}
/* Catlog Sync Loader css*/
.w_load_body_parent{
    position: relative;
}
.w_load_body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 233, 232, 0.2);
}
.w_load_body .w_load_content{
    position: absolute;
    left: 50%;
    top:30%;
    /*width: 160px;*/
    width: auto;
    background: #fff;
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
}
.w_load_body .w_load_content span{
    display: inline-block;
    vertical-align: middle;
}
.w_load_body .w_load_content_text{
    overflow: hidden;
    /*max-width: 150px;*/
    max-width: auto;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.w_load_icon{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/w_load.gif) no-repeat;
}
/* Catlog Sync Loader css*/
.sync-button{
    width: 100%;
}

/*.select2-container {
    width: 100% !important;
}*/

#div_state_city textarea, #div_standard_shipping #standard_label, #standard_by_weight, #standard_by_cost{width:97%; float: left;}
#standard_by_percentage, #standard_by_percentage_min, #standard_by_percentage_max{width:88%; float: left;}
#div_state_city .popovers, #div_standard_shipping .icon-info{margin-left: 10px; float: left;}

.menu_add_edit_selection{
    font-size: 10px;
}
.page-header.navbar .search-form{
    background: none !important;
}
.page-header.navbar .search-form .input-group{
    border: 1px solid #ffffff !important; 
}
.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i{
    color: #ffffff !important;
}
.page-header.navbar .search-form .input-group .form-control::-moz-placeholder{
    color: #ffffff !important;   
}
.page-header.navbar .search-form .input-group .form-control{
    color: #ffffff !important;
}
.price_separater{border-bottom:1px solid #343434;}
.taxopt{width: 300px; float: left;}
.large_cls{width:auto !important;}
#largeshippingzone.modal{left:30% !important;}
#largeshippingzone.modal .form-group h4{margin-top: 0; margin-bottom: 0;}
#frmadmin_taxoption .bootstrap-tagsinput{float:left;}
.frmtaxrates .select2-container, .frmtaxrates .bootstrap-tagsinput, .frmtaxrates .form-control{width: 90% !important;    float: left;}
.frmtaxrates .popovers, #frmadmin_taxoption .popovers,
.frmtaxrates .popovers{margin-left: 5px; line-height: 2.5;}
.bootstrap-switch{margin-top: 2px;}
.portlet.box.purple > .portlet-title, .portlet.purple, .portlet > .portlet-body.purple {
    background-color: #003182;
}
.portlet.light .form .form-actions{background-color: #f5f5f5; border-top: 1px solid #e7ecf1;}
.portlet.box.purple{border:none;}
.portlet.mar_b{margin-bottom: 0px !important;}
.select2-search__field {width: 100% !important;}

.large_cls{width:75% !important;}
.unique_modal.modal{left:25% !important;}
.modal-scrollable .modal.fade.in {top: 30%;}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #003182;}
.table-responsive{position: relative !important; overflow: visible !important; z-index: auto;}
.bootstrap-datetimepicker-widget{bottom: auto !important; top:auto !important;  }

@media (min-width: 1366px) and (max-width: 1440px) {
    .large_cls{width:80% !important;}
    .unique_modal.modal{left:29% !important;}
}

.modal-content .select2{
    width: 100% !important;
}
#frmconfiglayout .tab-content h4{
    font-weight: bold!important;
    color: #286090!important;
}
.menu_name { width: 60% !important;}
.btn.btn-outline.blue{
    border-color: #f47138;
    color: #f47138;
    background: 0 0;
}
.btn.btn-outline.blue.active, .btn.btn-outline.blue:active, .btn.btn-outline.blue:active:focus, .btn.btn-outline.blue:active:hover, .btn.btn-outline.blue:focus, .btn.btn-outline.blue:hover{
    border-color: #f47138;
    color: #FFF;
    background-color: #f47138;
}
.btn-primary {
    color: #fff;
    background-color: #f47138;
    border-color: #f47138;
}
.btn.green:not(.btn-outline).active.focus, .btn.green:not(.btn-outline).active:focus, .btn.green:not(.btn-outline).active:hover, .btn.green:not(.btn-outline):active.focus, .btn.green:not(.btn-outline):active:focus, .btn.green:not(.btn-outline):active:hover, .open > .btn.green:not(.btn-outline).dropdown-toggle.focus, .open > .btn.green:not(.btn-outline).dropdown-toggle:focus, .open > .btn.green:not(.btn-outline).dropdown-toggle:hover {
    color: #FFF;
    background-color: #f47138;
    border-color: #f47138;
}
.portlet.box.blue{
    border: 1px solid #003182;
    position: relative;
}